@media (max-width: 1624px) {
    .head {
        font-size: 29px;
    }
    .description {
        font-size: 23px;
        line-height: 23px;
    }
}

@media (max-width: 1539px) {
    .head {
        font-size: 28px;
        line-height: 28px;
    }
    .description {
        font-size: 22px;
        line-height: 22px;
    }
}

@media (max-width: 1505px) {
    .head {
        font-size: 27px;
        line-height: 27px;
    }
    .description {
        font-size: 21px;
        line-height: 21px;
    }
}

@media (max-width: 1449px) {
    .head {
        font-size: 24px;
        line-height: 24px;
    }
    .description {
        font-size: 18px;
        line-height: 18px
    }
}

@media (max-width: 1339px) {
    .text {
        margin-left: 3%;
    }
}

@media (max-width: 1309px) {
    .article {
        height: 450px;
    }
}

@media (max-width: 1230px) {
    .head {
        font-size: 22px;
        line-height: 22px;
    }
    .description {
        font-size: 16px;
        line-height: 16px
    }
}

@media (max-width: 1168px) {
    .article {
        height: 400px;
    }
    .head {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width: 1100px) {
    .main__padding {
        padding-top: 45px;
        padding-right: 60px;
        padding-left: 60px;
    }
    .burger__popup {
        padding-left: 60px;
    }
    .footer__padding {
        padding-top: 45px;
        padding-right: 60px;
        padding-left: 60px;
    }
    .logo {
        margin-left: 60px;
    }

    .buttons {
        margin-right: 60px;
    }
    .article {
        height: 375px;
    }
    .article__image {
        width: 500px;
    }
    .head {
        font-size: 18px;
        line-height: 18px;
    }
    .description {
        font-size: 16px;
        line-height: 16px
    }
}

@media (max-width: 954px) {
    .article {
        height: 325px;
    }
    .article__image {
        width: 433px;
    }
    .head {
        font-size: 17px;
        line-height: 17px;
    }
    .description {
        font-size: 15px;
        line-height: 15px
    }
}

@media (max-width: 908px) {
    .article {
        height: 250px;
    }
    .article__image {
        width: 333px;
    }
    .head {
        font-size: 16px;
        line-height: 16px;
    }
    .description {
        font-size: 13px;
        line-height: 14px;
        margin: 0;
    }
    .text {
        margin-left: 2%;
    }
    .main__padding {
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .burger__popup {
        padding-left: 30px;
    }
    .logo {
        margin-left: 30px;
    }

    .buttons {
        margin-right: 30px;
    }
    .footer__padding {
        padding-top: 22.5px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: 750px) {
    .article__image {
        width: 100%;
        margin: 0;
    }
    .description {
        font-size: 15px;
        line-height: 18px;
    }
    .article {
        height: fit-content;
        flex-wrap: wrap;
    }
    .main__padding {
        padding-top: 0;
    }
    .autor {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .tag {
        font-size: 9px;
    }
    .text {
        margin-left: 0;
    }
}

@media (max-width: 376px) {

}

@media (max-width: 320px) {
    .links {
        font-size: 9px;
    }
    

    .autor {
        font-size: 9px;
    }
}
    
