.main__article {
    display: flex;
    max-width: 100%;
    height: 472.5px;
    padding-bottom: 60px;
}

.head {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    text-transform: uppercase;

    color: #000000;
}

.description {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #666666;
}

.secondary__articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.wrapper {
    width: 30%;
}

.wrapper__last {
    margin-right: 0;
}

.secondary__picture {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 40%)
}

.secondary__head {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.featured {
    margin-top: 100px;
}

.posts {
    margin-bottom: 25px;
}

.wrapper__featured {
    width: 49%;
}

.third__articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.main__picture {
    margin-bottom: 30px;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 40%)
}

.hidden {
    display: none;
}


.show__button {
    margin: auto;
    margin-bottom: 50px;

    background: #141414;
    border-radius: 0px;
    height: 55px;
    width: 150px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}