@media (max-width: 1300px) {
    .main__article {
        display: flex;
        max-width: 100%;
        height: 300.5px;
        padding-bottom: 60px;
    }

    .head {
        font-family: 'Tenor Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000000;
    }
}

@media (max-width: 1024px) {
    .main__article {
        display: flex;
        max-width: 100%;
        height: 300.5px;
        padding-bottom: 60px;
    }

    .head {
        font-family: 'Tenor Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 25px;
        text-transform: uppercase;
        color: #000000;
    }

}

@media (max-width: 768px) {
    .main__article {
        display: flex;
        max-width: 100%;
        height: 275px;
        padding-bottom: 60px;
    }

    .description {
        line-height: 16px;
    }


    .main__picture {
        max-width: 368px;
    }
}

@media (max-width: 451px) {

    .main__article {
        height: 175px;
        padding-bottom: 30px;
    }

    .head {
        font-size: 17px;
        line-height: 23px;
    }

    .description {
        visibility: hidden;
        height: 0px;
        margin: 0;
    }

    .featured {
        margin-top: 50px;
    }

    .secondary__head {
        font-size: 17px;
        line-height: 23px;
    }

    .wrapper {
        width: 49%;
    }

    .featured {
        margin-top: 0px;
    }
}

@media (max-width: 414px) {
    .head {
        line-height: 22px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .secondary__head {
        font-size: 15px;
    }
}

@media (max-width: 376px) {
    .head {
        font-size: 16px;
        line-height: 16px;
    }

    .main__article {
        height: 160px;
    }

    .featured {
        margin-top: 0px;
    }
}

@media (max-width: 320px) {
    .main__article {
        height: 140px;
    }

    .head {
        font-size: 15px;
        line-height: 15px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .secondary__head {
        font-size: 15px;
        line-height: 17px;
    }

    .featured {
        margin-top: 0px;
    }
}